<footer class="bg-secondary text-center text-white py-4 mt-5">
	<span class="d-block">Copyright &copy
		{{ 'now' | date('Y') }}
		<strong>HRM</strong>
		- All rights reserved. Developed by
		<a href="https://github.com/Sakib-RUET-CSE17" target="_blank" class="text-decoration-none text-white fw-bold">Sakib Hasan</a>
	</span>
</footer>
