.first-col {
  width: 306px;
}

.second-col {
  width: 220px;
}

.third-col {
  width: 282px;
}

.streaming-create-profile {
  .btn-create-profile {
    border-bottom: 1px solid #13141C;
  }

  small {
    color: #9C9EA2;
  }
}