@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


// existing color variable which being overriden( there we override default variable )
$primary: #EF3947;
$secondary: #1B1C27;
$light: #9C9EA2;

$body-bg: #13141C;
$body-color: #FFFFFF;

$font-family-base: 'Inter', sans-serif;

$headings-font-family: 'Inter', sans-serif;
$headings-line-height: 1.5;
$headings-font-weight: 700;
$headings-color: #FFFFFF;

$h1-font-size: 2.25rem; // 36px
$h2-font-size: 2rem; // 32px
$h3-font-size: 1.75rem; // 28px
$h4-font-size: 1.5rem; // 24px
$h5-font-size: 1.125rem; // 18px
$h6-font-size: 1rem; // 16px

$paragraph-margin-bottom: 0px;

$navbar-dark-color: #FFFFFF;
$navbar-brand-padding-y: 20px;

$input-btn-focus-box-shadow: 0;
$form-switch-color: #FFFFFF;
$form-switch-width: 3em !default;
$btn-padding-y: 10px;
$btn-padding-x: 12px;

$input-btn-padding-y-sm: 6px;
$input-btn-padding-x-sm: 8px;

$input-btn-padding-y-lg: 16px;
$input-btn-padding-x-lg: 16px;

$input-padding-x: 1rem;
$input-padding-y: 1rem;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  ) !default;


$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  ) !default;
// import bootstrap responsible file for adding custom color with existing
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";

$theme-colors: map-merge($theme-colors, ("black-russian":#222431,
      "mcm-white": #FFFFFF)
);

@import "~bootstrap/scss/bootstrap";
@import "components/common.scss";
@import "components/signup.scss";
@import "components/streaming_profile.scss";
@import "components/footer.scss";
@import '@fortawesome/fontawesome-free/css/all.css';
// @import '@fontsource/roboto-condensed';