{% extends 'base.html.twig' %}

{% block title %}Hello AttendanceController!
{% endblock %}

{% block body %}

	<div class="container">
		<h6>Attendances ✅</h6>
		<table class="table table-light">
			<thead>
				<tr>
					<th scope="col">Date</th>
					<th scope="col">Entry</th>
					<th scope="col">Leave</th>
				</tr>
			</thead>
			<tbody>
				{% for attendance in attendances %}
					<tr>
						<th scope="row">{{ attendance.attendanceHistory.date|date('d-m-Y-D') }}</th>
						<td>{{ attendance.entryTime|date('h:i a') }}</td>
						<td>{{ attendance.leaveTime?attendance.leaveTime|date('h:i a'):'--' }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
